.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    padding-top: 1rem;
}

.skills-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-element {
  margin: 2rem 4rem;
}

.tools, .programming {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animated-box-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.animated-box {
  width: 350px;
  height: 10px;
  border-radius: 2px;
  background-color: #ccc;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 10px;
}

@media screen and ((min-width: 850px) and (max-width: 1072px)) {
  .animated-box {
    width: 300px;
  }

  .skills-element {
    margin: 2rem 2rem;
  }
}

.animated-box-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 0; /* Initial width of 0 */
  height: 100%;
  background-color: #04f6f2; /* Desired background color */
  transition: width 2s ease; /* Transition for smooth width changes */
}
  
 
  